.footerBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 8rem 0;
    background: #734080;
}

.footerBar ul {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.footerBar li {
    list-style: none;
}

.footerBar a{
    font-size: 15px;
    color: #ffa9c1;
    margin: 3rem;
}

.footerBar img{
    width: 2rem;
}